:root {
  // background
  --page-bg: #f7f5f9;
  --bg-tooltip: #f5f4f6;
  --bg-route-card: #e4e0e9;
  --bg-route-wrapper: #f7f6f6;
  --bg-passenger: #f9f9f9;
  --bg-hover-btn: #fcdc9d;
  --bg-focus-btn: #ffca62;
  --bg-accent-active: #fdb935;
  --bg-accent-color: #ffa800;
  --bg-error: rgba(255, 60, 0, 0.38);
  --bg-success: #b2f6a1;
  --bg-filter: #3e3c41;
  --bg-footer: #2d2b2f;
  --bg-header-form: #292929;

  //color
  --color-dark: #000;
  --color-light: #fff;
  --color-footer: #e5e5e5;
  --color-light-grey: #c4c4c4;
  --text-dark-gray: #928f94;

  //font-size
  --fs-xs: 16px;
  --fs-sm: 18px;
  --fs-md: 20px;
  --fs-text: 24px;
  --fs-title: 30px;
  --fs-lg: 36px;
  --fs-xl: 72px;

  //font weight
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  //font-family
  --ff: 'Roboto', sans-serif;

  //padding
  --padding-xs: 8px;
  --padding-sm: 16px;
  --padding-md: 24px;
  --padding-lg: 32px;

  // gap
  --gap-xs: 10px;
  --gap-sm: 20px;
  --gap-md: 40px;

  // margin
  --margin-xs: 5px;
  --margin-sm: 10px;
  --margin-md: 20px;
  --margin-lg: 30px;
  --margin-xl: 40px;
  --margin-xxl: 50px;

  // border-radius
  --radius: 5px;
  --radius-slider: 8px;
  --radius-round: 50%;

  // box-shadow
  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --card-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
