.list {
  padding: 0 var(--padding-lg);
  margin-bottom: calc(var(--margin-xxl) * 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--margin-lg);
  text-align: center;
}

.item {
  padding: var(--padding-sm);
  width: 300px;

  border: 1px solid var(--color-footer);
  border-radius: var(--radius);
}

.icon {
  display: block;
  margin-bottom: var(--padding-sm);
}

.title {
  margin-bottom: var(--padding-xs);
}
