.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  box-shadow: var(--shadow);
}

.header {
  padding: var(--padding-lg) var(--padding-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-passenger);
  border-bottom: var(--dashed);
}

.title_wrapper {
  display: flex;
  gap: var(--padding-sm);
}

.icon_wrapper {
  padding: var(--margin-xs);
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;
  border: 2px solid var(--bg-accent-color);
  border-radius: var(--radius-round);
  cursor: pointer;
}

.icon_active {
  border: 2px solid var(--text-dark-gray);
}

.passenger_icon {
  cursor: pointer;
}
