.form {
  padding: calc(var(--gap-md) * 2) var(--padding-md) calc(var(--gap-sm) * 3);
  background-color: rgba(41, 41, 41, 0.8);
}

.form_flex {
  padding: var(--padding-md) var(--padding-sm);
  display: flex;
  gap: var(--padding-md);

  .input_wrapper {
    gap: var(--padding-xs);
  }

  .btn {
    margin-top: calc(var(--padding-md) * 2);
  }
}

.title {
  margin-bottom: var(--padding-sm);
}

.box {
  margin-bottom: calc(var(--margin-md) * 3);
}

.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--margin-xs);
}

.btn {
  margin-top: calc(var(--margin-lg) * 3);
  margin-left: auto;
}

.icon {
  cursor: pointer;
}

.rotated {
  animation: rotate 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
