.btn {
  cursor: pointer;
  display: grid;
  place-content: center;
  font: var(--fw-bold) var(--fs-text) var(--ff);
  background-color: transparent;
  border-radius: var(--radius);
  outline: none;
  border: none;
}

.default {
  width: fit-content;
  padding: var(--padding-sm) var(--padding-md);

  &:hover {
    color: var(--bg-accent-color);
    box-shadow: var(--shadow);
  }

  &:active {
    background-color: var(--bg-accent-color);
    color: var(--bg-header-form);
    border-color: transparent;
  }
}

.xs {
  width: 230px;
  padding: var(-margin-xs);
}

.s {
  width: 222px;
  padding: var(--padding-sm);
}

.m {
  width: 325px;
  padding: var(--padding-sm);
}

.primary {
  background-color: var(--bg-accent-color);
  border: 1px solid var(--bg-accent-color);

  &:hover {
    box-shadow: var(--shadow);
  }

  &:active {
    background-color: var(--color-light);
    color: var(--bg-accent-color);
    border: 1px solid var(--bg-accent-color);
    box-shadow: var(--shadow);
  }
}

.light {
  background-color: var(--color-light);
  border: 1px solid var(--bg-header-form);

  &:hover {
    color: var(--bg-accent-color);
    box-shadow: var(--shadow);
  }

  &:active {
    background-color: var(--bg-accent-color);
    color: var(--bg-header-form);
    border-color: transparent;
  }
}

.white {
  color: var(--color-light);
}

.black {
  color: var(--bg-header-form);
}

.disabled {
  background-color: var(--text-dark-gray);
  color: var(--color-light);
  border: 1px solid var(--text-dark-gray);
  pointer-events: none;
}

.uppercase {
  text-transform: uppercase;
}
