.card {
  padding: var(--padding-lg);
  display: flex;
  align-items: center;
  gap: var(--padding-lg);
  border-right: var(--dashed);

  &:nth-child(n) {
    border-bottom: var(--dashed);
  }

  &:last-child {
    padding-bottom: calc(var(--margin-xl) * 2);
    border-bottom: none;
  }
}

.type {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  align-items: center;
}

.icon_wrapper {
  width: 68px;
  height: 68px;
  display: grid;
  place-content: center;
  background-color: var(--bg-accent-color);
  border-radius: var(--radius-round);
}

.desc {
  display: flex;
  flex-direction: column;
  gap: var(--padding-xs);
  color: var(--text-dark-gray);
}

.name {
  padding-bottom: var(--margin-xs);
  color: var(--bg-header-form);
}

.doc_type {
  padding-left: var(--margin-xs);
}
