.component {
  width: 640px;
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.img {
  border-radius: var(--radius-round);
}

.name {
  font: var(--fw-medium) var(--fs-text) var(--ff);
  margin-bottom: var(--padding-md);
}

.reviews_desc {
  display: flex;
  flex-direction: column;
}

.text {
  font: var(--fw-light) italic var(--fs-sm) var(--ff);
  color: var(--text-dark-gray);
  position: relative;

  &::before {
    content: '\201c';
    position: absolute;
    top: -2%;
    left: -5%;
    font-size: var(--fs-lg);
    font-weight: var(--fw-medium);
  }
  &::after {
    content: '\201d';
    position: absolute;
    font-size: var(--fs-lg);
    font-weight: var(--fw-medium);
  }
}
