.section {
  background-color: var(--color-light);
  padding-bottom: var(--margin-xl);
}

.select_gender {
  padding: var(--margin-xl) var(--padding-lg);
}

.name_wrapper {
  padding-inline: var(--padding-lg);
  margin-bottom: var(--margin-xxl);
  display: flex;
  gap: var(--padding-md);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--padding-md);
}

.mobility_wrapper {
  padding-inline: var(--padding-lg);
  margin-top: var(--margin-xxl);
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.gender_wrapper {
  padding-inline: var(--padding-lg);
}

.article {
  margin-top: var(--margin-xl);
  padding-block: var(--margin-lg);
  border-top: var(--dashed);
  border-bottom: var(--dashed);
}

.article_wrapper {
  padding-inline: var(--padding-lg);
  display: flex;
  gap: var(--padding-md);
}

.label {
  margin-bottom: var(--padding-sm);
  display: block;
  color: var(--text-dark-gray);
}

.pass {
  width: 350px;
}

.pass_wrapper {
  display: flex;
  gap: var(--padding-md);
}

.btn {
  margin-left: auto;
  margin-top: var(--margin-xl);
  margin-right: var(--padding-md);
  position: relative;

}
