.wrapper {
  margin-bottom: var(--margin-xs);
  display: flex;
  justify-content: space-between;
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--color-light);
}

.slider {
  border: 1px solid var(--color-light-grey);
  border-radius: var(--radius-slider);
}

.title {
  margin-bottom: var(--margin-sm);
}
