.header {
  height: 100vh;
  background-image: url("../../../shared/assets/img/bg.png");
  background-size: cover;
  background-color: #9b6909;
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.5;
    background-color: #9b6909;
    z-index: -1;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 20px;
}

.title_wrap {
  max-width: 463px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding-top: 253px;
  align-items: center;
}

.title {
  font: var(--fw-thin) 72px var(--ff);
  color: #fff;
  span {
    font-weight: var(--fw-bold);
  }
}


//loader
.line {
  height: 8px;
  background-color: var(--bg-accent-color);
}

.main {
  margin-top: 150px;
}

.text_wrapper {
  margin-bottom: 124px;
  margin-top: 30px;
  border-left: 9px solid var(--bg-accent-color);
}

.text {
  margin-bottom: 24px;
  padding-left: 16px;
  font: var(--fw-regular) var(--fs-text) var(--ff);
}

.text_bold {
  font-weight: var(--fw-bold);
}

.about {
  margin-bottom: 150px;
  min-height: 575px;
  position: relative;
  background-image: url("../../../shared/assets/img/about-bg.jpg");
  background-size: cover;
  background-color: var(--bg-accent-color);
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.5;
    background-color: var(--bg-accent-color);
    z-index: -1;
  }
}
.section_top {
  margin-bottom: 108px;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits_wrapper {
  display: flex;
  justify-content: center;
  gap: 140px;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font: var(--fw-regular) var(--fs-text) var(--ff);
    color: var(--color-light);
    text-align: center;
  }
}

.icon_wrap {
  width: 134px;
  height: 134px;
  display: grid;
  place-content: center;
  outline: 14px solid rgba(229, 229, 229, 0.2);
  background-color: var(--color-light);
  border-radius: 50%;
  margin-bottom: 34px;
}


// reviews
.reviews_title {
  margin-bottom: 70px;
}


