.component {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.iconContainer {
  position: relative;
  width: 100%;
  height: 50px;
  perspective: 150px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--bg-focus-btn);
  animation: trainAnimation 3s linear infinite;
}

.line {
  position: absolute;
  top: 24px;
  right: 0px;
  height: 2px;
  width: 320px;
  background-color: var(--bg-focus-btn);
  animation: lineAnimation 3s linear infinite reverse;
}

@keyframes trainAnimation {
  0% {
    left: 0;
    opacity: 0;
    transform: rotateY(-2deg);
  }
  50% {
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    transform: rotateY(4deg);
  }
  100% {
    left: 100%;
    opacity: 0;
    transform: rotateY(-2deg);
  }
}

@keyframes lineAnimation {
  0% {
    left: 0;
    opacity: 0;
    width: 150px;
  }
  50% {
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    width: 320px;
  }
  100% {
    left: 100%;
    opacity: 0;
    width: 150px;
  }
}
