.component {
  margin-bottom: 88px;
  width: 360px;
  background-color: var(--bg-filter);
}

.article {
  padding: var(--padding-lg);
  padding-bottom: 0;
  border-bottom: 1px solid var(--color-footer);

  &:last-child() {
    border-bottom: none;
  }
}

.options_wrapper {
  padding-left: calc(var(--padding-lg) * 2);
  display: grid;
  gap: var(--padding-lg);
}

.cost {
  padding-bottom: calc(var(--padding-lg) * 2);
}
