.component {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: var(--margin-xxl);
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--text-dark-gray);
}

.not_found {
  justify-items: center;
  font: var(--fw-regular) var(--fs-text) var(--ff);
}

.text {
  padding-bottom: var(--padding-sm);
}
