.component {
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--color-footer);
  padding-bottom: var(--padding-lg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.train_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.time_wrapper {
  margin-top: var(--margin-xl);
  margin-bottom: var(--margin-md);
}

.trip_time {
  text-align: center;
}

.train_number {
  font: var(--fw-bold) var(--fs-text) var(--ff);
  color: var(--color-light);
}

.train_name {
  font: var(--fw-bold) var(--fs-xs) var(--ff);
  color: var(--color-light);
}

.subtitle {
  color: var(--text-dark-gray);
  font: var(--fw-regular) var(--fs-xs) var(--ff);
}
