.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: var(--gap-sm);
}

.logo_wrap {
  padding: var(--padding-xs) 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.logo {
  font: var(--fw-black) var(--fs-lg) var(--ff);
  color: var(--color-footer);
}

.nav {
  background-color: var(--bg-header-form);
  padding: calc(var(--padding-sm) * 1.5);
}

.nav_list {
  display: flex;
  gap: 88px;
}

.nav_item {
  color: #fff;
  font: var(--fw-light) var(--fs-title) var(--ff);
  cursor: pointer;
  
  &:hover {
    color: var(--bg-accent-color);
  }
}
