.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 20px;
}

.logo_wrap {
  padding: 8px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.logo {
  font: 900 36px "Roboto", sans-serif;
  color: #e5e5e5;
}

.nav {
  background-color: var(--bg-header-form);
  padding: 24px;
}

.nav_list {
  display: flex;
  gap: 88px;
}

.nav_item {
  color: #fff;
  font: 300 30px "Roboto", sans-serif;
  cursor: pointer;
  &:hover {
    color: var(--bg-accent-color);
  }
}
