@use '@app/styles/_mixins' as mixins;

.container {
  @include mixins.container;
}

.logo_wrap {
  padding-top: var(--padding-sm);
  background-color: rgba(0, 0, 0, 0.6);
}

.logo {
  width: 250px;
}

.nav {
  background-color: var(--bg-header-form);
  padding: calc(var(--padding-sm) * 1.5);
}

.nav_list {
  display: flex;
  gap: calc(var(--gap-md) * 2);
}

.nav_item {
  color: var(--color-light);
  font: var(--fw-light) var(--fs-title) var(--ff);
  cursor: pointer;

  &:hover {
    color: var(--bg-accent-color);
  }
}
