@use '@app/styles/_mixins' as mixins;

.component {
  background-color: var(--bg-filter);
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.container {
  @include mixins.container;
}

.stages {
  position: relative;
  height: 98px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(var(--gap-xs) * 3);
  color: var(--color-light);
  z-index: 99;
}

.stage {
  position: relative;

  display: flex;
  align-items: center;
  gap: var(--padding-md);

  &::after {
    content: '';
    position: absolute;
    right: 20px;
    width: 104px;
    height: 104px;
    border-top: 1px solid var(--color-light);
    border-right: 1px solid var(--color-light);
    transform: rotate(45deg);
  }

  // &::before {
  //   content: '';
  //   position: absolute;
  //   // left: -200%;
  //   // width: 300%;
  //   height: 100%;
  //   background-color: var(--bg-accent-color);
  //   z-index: -1;

  //   clip-path: polygon(
  //     0 0,
  //     calc(100% - 47px) 0,
  //     100% 50%,
  //     calc(100% - 47px) 100%,
  //     0 100%
  //   );
  // }

  // &:nth-child(1)::before {
  //   left: -300%;
  //   width: 400%;
  // }

  // &:nth-child(2)::before {
  //   left: -500%;
  //   width: 600%;
  // }

  span {
    font: var(--fw-medium) var(--fs-title) var(--ff);
  }
}

.step {
  width: 56px;
  height: 56px;
  padding: 5px;
  display: grid;
  place-content: center;
  font: var(--fw-medium) 36px var(--ff);
  border: 3px solid var(--color-light);
  border-radius: 50%;
}

.title {
  width: 170px;
}

// .stage:nth-child(1) {
//   position: relative;
//   z-index: 99;

//   &::before {
//     content: '';
//     position: absolute;
//     left: -200%;
//     width: 300%;
//     height: 100%;
//     background-color: var(--bg-accent-color);
//     z-index: -1;

//     clip-path: polygon(
//       0 0,
//       calc(100% - 47px) 0,
//       100% 50%,
//       calc(100% - 47px) 100%,
//       0 100%
//     );
//   }
// }
.mask {
  position: absolute;
  top: 0;
  left: -10px;
  width: 25%;
  height: 98px;
  background-color: var(--bg-accent-color);
  z-index: 1;

  clip-path: polygon(
    0 0,
    calc(100% - 47px) 0,
    100% 50%,
    calc(100% - 47px) 100%,
    0 100%
  );
}
