@use '@app/styles/_mixins' as mixins;

.component {
  background-color: var(--bg-filter);
  overflow: hidden;
  position: relative;
}

.container {
  @include mixins.container;
}

.stages {
  position: relative;
  height: 98px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(var(--gap-xs) * 3);
  color: var(--color-light);
  z-index: 9;
}

.stage {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--padding-md);

  &::after {
    content: '';
    position: absolute;
    right: 20px;
    width: 104px;
    height: 104px;
    border-top: 1px solid var(--color-light);
    border-right: 1px solid var(--color-light);
    transform: rotate(45deg);
  }

  span {
    font: var(--fw-medium) var(--fs-title) var(--ff);
  }

  &.active {
    &::before {
      content: '';
      position: absolute;
      left: -200%;
      width: 300%;
      height: 100%;
      background-color: var(--bg-accent-color);
      z-index: -1;

      clip-path: polygon(
        0 0,
        calc(100% - 47px) 0,
        100% 50%,
        calc(100% - 47px) 100%,
        0 100%
      );
    }

    .step {
      background-color: var(--bg-accent-color);
      color: var(--color-light);
    }
  }

  &:nth-child(4).active {
    &::before {
      width: 500%;
    }
  }
}

.step {
  padding: var(--margin-xs);
  width: 56px;
  height: 56px;
  display: grid;
  place-content: center;
  font: var(--fw-medium) var(--fs-lg) var(--ff);
  border: 3px solid var(--color-light);
  border-radius: var(--radius-round);
}

.title {
  width: 170px;
}
