@use '@app/styles/_mixins' as mixins;

.component {
  background-color: var(--page-bg);
  padding-bottom: 175px;
}

.container {
  @include mixins.container;
}

.header {
  min-height: 575px;
  position: relative;
  background-image: url('@shared/assets/img/confirm-bg.png');
  background-size: cover;
  background-position: 50% 60%;
  background-color: var(--bg-accent-color);
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.3;
    background-color: var(--bg-header-form);
    z-index: -1;
  }
}

.title {
  padding-top: 160px;
  font: var(--fw-bold) var(--fs-xl) var(--ff);
  color: #fff;
}
