.input {
  width: 325px;
  padding: var(--gap-sm);
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--bg-header-form);
  border-radius: 3px;
  border: none;
  outline: none;
}

.input::placeholder {
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--color-footer);
}
