.component {
  width: 100%;
  border-left: 1px dashed var(--color-footer);
  padding: var(--padding-lg) var(--padding-md);
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--padding-lg);
}

.wagons_types {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.type_wrap {
  display: grid;
  grid-template-columns: 80px 32px 1fr;
  align-items: baseline;
  gap: var(--padding-sm);
}

.type {
  font: var(--fw-regular) var(--fs-xs) var(--ff);
  color: var(--bg-filter);
}

.count {
  position: relative;
}

.seats {
  font: var(--fw-medium) var(--fs-xs) var(--ff);
  color: var(--bg-accent-color);
  cursor: pointer;
}

.price {
  justify-self: end;
  text-wrap: nowrap;
  font: var(--fw-regular) var(--fs-xs) var(--ff);
  color: var(--text-gray);

  span {
    margin-left: var(--margin-xs);
    font: var(--fw-bold) var(--fs-text) var(--ff);
    color: var(--bg-footer);
  }

  i {
    margin-left: var(--margin-xs);
  }
}

.service_icons {
  margin-bottom: var(--margin-md);
  justify-content: flex-end;
}
