.primary {
  color: var(--color-footer);
}

.accent {
  color: var(--bg-accent-color);
}

.white {
  color: var(--color-light);
}

.grey {
  color: var(--color-light-grey);
}

.dark {
  color: var(--bg-header-form);
}

.dark_gray {
  color: var(--text-dark-gray);
}
