.title {
  margin-bottom: var(--margin-sm);
}

.date_picker {
  input {
    width: 295px;
    padding: var(--margin-sm);
  }
}

:global(.react-datepicker__input-container) {
  margin-bottom: var(--padding-lg);
}
