.available.disabled {
  rect {
    fill: #e0e0e0;
  }
  text {
    fill: #979797;
  }
}

.not_available {
  cursor: default;
  pointer-events: none;

  rect {
    fill: #888888;
    transition: all 0.3s ease-in-out;
  }

  text {
    fill: var(--color-light);
  }
}

.active,
.active.disabled {
  cursor: pointer;
  pointer-events: all;
  rect {
    stroke: var(--bg-accent-color);
    fill: #fdf3df;
  }

  text {
    fill: var(--bg-header-form);
  }
}

.available {
  cursor: pointer;
  pointer-events: all;

  rect {
    fill: var(--bg-route-wrapper);
  }

  text {
    fill: var(--bg-header-form);
    font-weight: var(--fw-medium);
  }

  &:hover {
    rect {
      stroke: var(--bg-accent-color);
    }
  }
}
.disabled {
  pointer-events: none;
}
