.svg {
  cursor: default;
  pointer-events: none;

  rect {
    fill: var(--color-light-grey);
    transition: all 0.3s ease-in-out;
  }
  
  text {
    fill: var(--color-light);
  }
}

.active {
  rect {
    stroke: var(--bg-accent-color);
  }
}

.available {
  cursor: pointer;
  pointer-events: all;

  rect {
    fill: var(--bg-route-wrapper);
  }

  text {
    fill: var(--bg-header-form);
    font-weight: var(--fw-medium);
  }

  &:hover {
    rect {
      stroke: var(--bg-accent-color);
    }
  }
}
