.svg {
cursor: default;

  rect {
    fill: var(--color-footer);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
}

.active {
  rect {
    stroke: var(--bg-accent-color);
  }
}

.ailable {
  cursor: pointer;
  rect {
    fill: var(--bg-tooltip);
  }
  &:hover {
    rect {
      stroke: var(--bg-accent-color);
    }
  }
}
