.component {
  display: flex;
  justify-content: end;
  gap: var(--gap-sm);

  i {
    font-weight: var(--fw-bold);
  }

  li {
    cursor: pointer;
  }

  a {
    padding: var(--margin-md);
    width: 84px;
    height: 75px;
    display: inline-grid;
    place-content: center;
    font: var(--fw-bold) var(--fs-title) var(--ff);
    color: var(--text-dark-gray);
    border: 1px solid var(--color-light-grey);
    border-radius: var(--radius);

    &:hover {
      border: 1px solid var(--bg-accent-color);
      color: var(--bg-accent-color);
    }
  }

  :global {
    .selected {
      a {
        background-color: var(--bg-accent-color);
        border: 1px solid var(--bg-accent-color);
        color: var(--color-light);
      }
    }
  }
}
