.title_wrapper {
  margin-bottom: var(--padding-lg);
  display: flex;
  align-items: baseline;
  gap: var(--padding-sm);
}

.wrapper {
  margin-bottom: var(--margin-md);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.text {
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--color-footer);
}

.price {
  padding-right: 5px;
  font: var(--fw-bold) var(--fs-text) var(--ff);
  color: var(--color-light);
}
