@use '@app/styles/_mixins' as mixins;

.component {
  background-color: var(--page-bg);
}

.container {
  @include mixins.container;
  margin-top: calc(var(--padding-lg) * 3);
}

.main {
  display: flex;
  gap: var(--margin-xxl);
}

.section {
  width: 100%;
}

.add_wrapper {
  padding: var(--padding-lg) var(--padding-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  box-shadow: var(--card-shadow);
}

.add_icon,
.passenger_icon {
  cursor: pointer;
}
