.component {
  background-color: var(--color-light);
  box-shadow: var(--card-shadow);
}

.change_train {
  justify-content: end;
}

.article {
  min-height: 330px;
  padding: var(--padding-lg) var(--margin-md);
  border-bottom: 1px dashed var(--color-footer);
}

.section {
  padding: var(--padding-lg) var(--margin-md);
}

.section_title {
  margin-bottom: var(--padding-lg);
}

.schema {
  padding-inline: var(--margin-md);
  position: relative;
}

.seats {
  position: absolute;
  inset: 0;
}
