.component {
  background-color: var(--page-bg);
}

.container {
  max-width: 1440px;
  margin: 96px auto 0 auto;
  padding-inline: 20px;
}

.main {
  display: flex;
  gap: 50px;
}

.section {
  width: 100%;
}

.add_wrapper {
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: var(--card-shadow);
}

.add_icon,
.passenger_icon {
  cursor: pointer;
}
