.section {
  width: 100%;
  height: fit-content;
  box-shadow: var(--card-shadow);
}

.title_wrapper {
  padding: var(--padding-lg);
  background-color: var(--bg-passenger);
  border-bottom: var(--dashed);
}

.btn {
  margin-block: calc(var(--margin-xxl) * 2);
  margin-left: auto;
}
