@use '@app/styles/_mixins' as mixins;

.component {
  background-color: var(--page-bg);
}

.container {
  @include mixins.container;
  margin-top: calc(var(--padding-lg) * 3);
}

.main {
  display: flex;
  gap: var(--margin-xxl);
}
