@use '@app/styles/_mixins' as mixins;

.component {
  background-color: var(--page-bg);
}

.container {
  @include mixins.container;
  margin-top: 96px;
}

.main {
  display: flex;
  gap: 50px;
}

.section {
  width: 100%;
  height: fit-content;
  box-shadow: var(--card-shadow);
}

.title_wrapper {
  padding: 32px;
  background-color: #f9f9f9;
  border-bottom: var(--dashed);
}
