.calendar {
  font-size: var(--fs-xs);
}

.input {
  position: relative;
  width: 325px;
  padding: var(--gap-s);
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--bg-header-form);
  border-radius: 3px;
  border: none;
  outline: none;
}

.input::placeholder {
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--color-footer);
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

// TODO: стилизовать календарь по макету
// :global(.react-datepicker__header ) {
//   background-color: aquamarine;
// }

// :global(.react-datepicker__day) {
//   padding: 10px;
// }
