.calendar {
  font-size: var(--fs-xs);
  z-index: 999;
}

.input {
  position: relative;
  width: 325px;
  padding: var(--gap-sm);
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--bg-header-form);
  border-radius: 3px;
  border: none;
  outline: none;
}

.input::placeholder {
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--color-footer);
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

:global(.react-datepicker) {
  font: var(--fw-regular) var(--fs-md) var(--ff);
  border: none;

}

:global(.react-datepicker__month-container) {
  width: 330px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);

}

:global(.react-datepicker__header) {
  height: 70px;
  background-color: var(--color-light);
  display: grid;
  place-content: center;
  border-bottom: 2px solid var(--color-footer);

}

:global(.react-datepicker__day-names) {
  display: none;
}

:global(.react-datepicker__current-month) {
  display: grid;
  place-content: center;
  font: var(--fw-medium) var(--fs-text) var(--ff);
  text-transform: capitalize;
}

:global(.react-datepicker__day) {
  margin: var(--padding-xs);
  line-height: normal;
}

:global(.react-datepicker__day:hover) {
  background-color: var(--bg-focus-btn);
}

:global(.react-datepicker__day--selected) {
  background-color: var(--bg-focus-btn);
  color: var(--color-dark);
  border: 2px solid var(--bg-accent-color);
}

:global(.react-datepicker__day--selected:hover) {
  background-color: var(--bg-focus-btn);
  border: 2px solid var(--bg-accent-color);
}

:global(.react-datepicker__day--keyboard-selected) {
  background-color: var(--bg-focus-btn);
  border: 2px solid var(--bg-accent-color);
}

:global(.react-datepicker__day--keyboard-selected:hover) {
  background-color: var(--bg-focus-btn);
}

:global(.react-datepicker__day--outside-month) {
  color: var(--color-footer);
}

:global(.react-datepicker__day--outside-month:hover) {
  color: var(--color-dark);
}

:global(.react-datepicker__navigation--previous) {
  left: 20px;
  top: 20px;
}

:global(.react-datepicker__navigation--next) {
  right: 20px;
  top: 20px;
}

:global(.react-datepicker__navigation-icon::before) {
  border-color: var(--color-dark);
}

:global(.react-datepicker__navigation:hover *::before) {
  border-color: var(--bg-accent-color);
}
