.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: var(--margin-md);
}

//loader
.line {
  height: 8px;
  background-color: var(--bg-accent-color);
}

.main {
  margin-top: 150px;
}

.about {
  margin-bottom: 150px;
  min-height: 575px;
  position: relative;
  background-image: url('@shared/assets/img/about-bg.jpg');
  background-size: cover;
  background-color: var(--bg-accent-color);
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    background-color: var(--bg-accent-color);
    z-index: -1;
  }
}

// reviews
.reviews_title {
  margin-bottom: 70px;
}
