@use '@app/styles/_mixins' as mixins;

.component {
  background-color: var(--page-bg);
}

.container {
  @include mixins.container;
  margin-top: calc(var(--padding-lg) * 3);
}

.main {
  display: flex;
  gap: var(--margin-xxl);
}

.section {
  width: 100%;
}

.preloader {
  min-height: 500px;
  display: grid;
  place-content: center;
  background-color: var(--bg-filter);
  font: var(--fw-bold) var(--fs-text) var(--ff);
  color: var(--text-dark-gray);
  text-transform: uppercase;
}

.wrapper {
  text-align: center;
  width: 800px;

  p {
    margin-bottom: calc(var(--margin-xxl) * 2);
  }
}
