.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 55px;
  cursor: pointer;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  height: 28px;
  border: 1px solid var(--text-dark-gray);
  background-color: var(--color-light);
  border-radius: 5px;
}

.checkbox:checked + label:after,
.checkbox:not(:checked) + label:after {
  content: '';
  position: absolute;
  transition: all 0.2s ease;
}

.checkbox:checked + label:after,
.checkbox:not(:checked) + label:after {
  left: 4px;
  top: 4px;
  width: 28px;
  height: 10px;
  border-radius: 1px;
  border-left: 4px solid var(--bg-accent-color);
  border-bottom: 4px solid var(--bg-accent-color);
  transform: rotate(-45deg);
}

.checkbox:not(:checked) + label:after {
  opacity: 0;
}

.checkbox:checked + label:after {
  opacity: 1;
}

.label_mob {
  font: var(--fw-regular) var(--fs-sm) var(--ff);
  color: var(--bg-header-form);
}



.label {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;
  color: rgb(0 0 0 / 96%);

  &:hover {
      background-color: var(--primary-active-color);
  }
}

.input {
  display: none;
}

.icon {
  --icon-size: 16px;

  position: relative;
  flex-shrink: 0;
  width:  var(--icon-size);
  height: var(--icon-size);
  border: 2px solid var(--primary-color);
  border-radius: 50%;

  &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      width: calc(var(--icon-size) / 2);
      height: calc(var(--icon-size) / 2);
      background-color: var(--primary-color);
      border-radius: 50%;
  }
}

.input:checked + .icon::before{
  display: block;
  min-width: calc(var(--icon-size) / 2)
}

.input:disabled + .icon{
  border-color: rgba(0 0 0 / 54%);

  &::before{
      background-color: rgba(0 0 0 / 54%);
  }
}

.disabled {
  color: rgba(0 0 0 / 54%);
}

















